main {
    width: 50%;
    margin: auto;
    border: 1px solid red;
    padding: 6px;
}

header {
    background-color: orange;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: silver;
}
